.QuizCreator {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, #1736cf 0%, #9c8f74 100%);
}

.QuizCreator > div {
    width: 100%;
    max-width: 750px;
    padding: 0 20px;
}

.QuizCreator h1 {
    text-align: center;
    color: white
}

.QuizCreator form {
    background: rgb(154, 186, 212);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    margin-bottom: 40px;
}

.QuizCreator button {
    margin-top: 10px
}